# import modules

In [1]:
import pandas as pd
import numpy as np
print(pd.__version__)
print(np.__version__)

1.3.4
1.20.3

In [2]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1,20, size=(n_rows,n_cols)),
                 columns=cols)
df

    A   B   C   D   E
0  11   2  17  15  12
1   4   6  16   2   9
2  15  10   7   8  15
3   7   8  13  12   2
4  18   2   9   2   8
5  16  13   9  10  16
6   1   9  13  15  13
7   7   8  19   8  14
8  17  11   1  17  11
9  11   8  18   3  15

# Seleksi baris dan kolom menggunakan loc

In [3]:
df.loc[[0,3,4],['B','E']]

   B   E
0  2  12
3  8   2
4  2   8

# Seleksi baris dengan Kondisi

In [4]:
df.loc[df['B']>10,['B','D','E']]

    B   D   E
5  13  10  16
8  11  17  11

# Slicing Data Frame dengan loc

In [5]:
df.loc[0:4,'B':'D']

    B   C   D
0   2  17  15
1   6  16   2
2  10   7   8
3   8  13  12
4   2   9   2

In [6]:
df[:, 1]

TypeError: '(slice(None, None, None), 1)' is an invalid key