# Import Modules

In [2]:
import pandas as pd
import numpy as np

In [3]:
n_rows = 10
n_cols = 1
cols = ('usia',)
df = pd.DataFrame(np.random.randint(1,99, size = (n_rows, n_cols)),
                 columns = cols)
df

   usia
0    27
1    79
2    67
3    86
4    51
5    39
6    50
7    47
8    43
9    35

# Pengelompokan nilai numerik ke dalam kategori menggunakan cut()

In [4]:
 df['kelompok_usia'] = pd.cut(df['usia'],
                            bins = [0,18, 65, 99],
                            labels = ['anak', 'dewasa', 'manula']) 
df

   usia kelompok_usia
0    27        dewasa
1    79        manula
2    67        manula
3    86        manula
4    51        dewasa
5    39        dewasa
6    50        dewasa
7    47        dewasa
8    43        dewasa
9    35        dewasa