In [1]:
import pandas as pd
import numpy as np

# Membentuk Data Frame dari Dictionary

In [2]:
pd.DataFrame({'col1': [1,2,3,4],
             'col2':[5,6,7,8]})

   col1  col2
0     1     5
1     2     6
2     3     7
3     4     8

# Membentuk Data Frame dari Numpy Array

In [3]:
n_rows = 5
n_cols = 3

arr = np.random.randint(1, 20 , size=(n_rows, n_cols))
arr

array([[19, 11, 18],
       [19, 14, 18],
       [19, 18,  3],
       [18,  7, 15],
       [ 5, 11, 11]])

In [4]:
pd.DataFrame(arr,columns = tuple('ABC'))

    A   B   C
0  19  11  18
1  19  14  18
2  19  18   3
3  18   7  15
4   5  11  11

# Membentuk Data Frame dengan memanfaatkan pandas.util.testing

In [5]:
pd.util.testing.makeDataFrame().head()

F:\Anaconda\lib\site-packages\pandas\util\__init__.py:15: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

                   A         B         C         D
QmBtdTInMr -1.035737  0.368524 -0.315974  0.376297
SVjSDlocn2 -1.358668 -1.345811 -1.364075  1.152345
K4W3j8nprr -1.527668  0.665370 -0.832949  1.393479
qiW3peHB60  0.653325 -0.165339  0.540518  1.528445
Ydj8wOfTEz -0.392774 -0.428307 -0.431747 -0.622619

In [7]:
pd.util.testing.makeMixedDataFrame().head()

     A    B     C          D
0  0.0  0.0  foo1 2009-01-01
1  1.0  1.0  foo2 2009-01-02
2  2.0  0.0  foo3 2009-01-05
3  3.0  1.0  foo4 2009-01-06
4  4.0  0.0  foo5 2009-01-07

In [8]:
pd.util.testing.makeTimeDataFrame().head()

                   A         B         C         D
2000-01-03  1.085156  0.344613 -0.771570 -0.651195
2000-01-04  1.643165  0.955596 -0.790351  0.058616
2000-01-05 -0.077658  0.417231  1.143385 -0.504809
2000-01-06 -0.290899 -0.831739 -0.324388  0.122549
2000-01-07 -0.534611 -0.629941  2.441432  1.119627

In [9]:
pd.util.testing.makeMissingDataframe().head()

                   A         B         C         D
wyocoTmM7E -0.193369  0.379606 -1.305220  1.164594
HxUEIJVGII -0.108883 -0.158365  1.752644  0.361736
HebXuoQOKP  0.130187  0.212687       NaN       NaN
4hkVemRBZe -1.783585 -0.385053  0.955215 -1.083841
UETkNbAV4y       NaN  0.401734 -0.174631  1.111574