In [1]:
import pandas as pd

# Persiapan Data Frame

In [2]:
d1 = {'col1': [1,2,3],
     'col2': [10, 20, 30]}

df1 = pd.DataFrame(d1)
df1

   col1  col2
0     1    10
1     2    20
2     3    30

In [3]:
d2 = {'col3':[4,5,6],
     'col4':[40,50,60]}

df2 = pd.DataFrame(d2)
df2

   col3  col4
0     4    40
1     5    50
2     6    60

# Menggabungkan 2 Data Frame secara berdampingan

In [4]:
df = pd.merge(df1, df2, left_index=True, right_index=True)

In [5]:
df

   col1  col2  col3  col4
0     1    10     4    40
1     2    20     5    50
2     3    30     6    60