In [2]:
import pandas as pd

print(pd.__version__)

1.3.1

# Membuat Data Frame dari hasil seleksi spreadsheet

In [3]:
df = pd.read_clipboard()
df

       NIM  NAMA
0  7218123  Tejo
1  7218162  Bejo
2  7218462   Adi