In [1]:
import pandas as pd

print(pd.__version__)

1.3.2

# Persiapan Data Frame

In [2]:
data = {'hobi': ['mancing', 'jogging', 'renang', 'mancing',
                'baca', 'camping', 'mancing', 'fotografi', 'baca', 'mancing', 'mancing']}

df = pd.DataFrame(data)
df

         hobi
0     mancing
1     jogging
2      renang
3     mancing
4        baca
5     camping
6     mancing
7   fotografi
8        baca
9     mancing
10    mancing

# Membuat kategori baru berdasarkan threshold (ambang batas)

In [3]:
df['hobi'].value_counts()

mancing      5
baca         2
jogging      1
renang       1
camping      1
fotografi    1
Name: hobi, dtype: int64

In [4]:
presentase = df['hobi'].value_counts(normalize=True)
presentase

mancing      0.454545
baca         0.181818
jogging      0.090909
renang       0.090909
camping      0.090909
fotografi    0.090909
Name: hobi, dtype: float64

In [5]:
threshold = 0.1
hobi_lain = presentase[presentase < threshold].index
hobi_lain

Index(['jogging', 'renang', 'camping', 'fotografi'], dtype='object')

In [6]:
df['hobi'] = df['hobi'].replace(hobi_lain, 'lainnya')
df['hobi']

0     mancing
1     lainnya
2     lainnya
3     mancing
4        baca
5     lainnya
6     mancing
7     lainnya
8        baca
9     mancing
10    mancing
Name: hobi, dtype: object

In [7]:
df['hobi'].value_counts(normalize=True)

mancing    0.454545
lainnya    0.363636
baca       0.181818
Name: hobi, dtype: float64