In [1]:
import pandas as pd

In [2]:
data = {'nama': ['joko', 'lina', 'dewi', 'cecep'],
       'jenis_kelamin': ['L', 'P', 'P', 'L'],
       'usia': [20, 21, 25, 23]}

df = pd.DataFrame(data)
df

    nama jenis_kelamin  usia
0   joko             L    20
1   lina             P    21
2   dewi             P    25
3  cecep             L    23

In [5]:
df.to_excel('data_baru_lagi.xls', index=False)
df = pd.read_excel('data_baru_lagi.xls')
df

C:\Users\farha\AppData\Local\Temp/ipykernel_10600/10889866.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  df.to_excel('data_baru_lagi.xls', index=False)

    nama jenis_kelamin  usia
0   joko             L    20
1   lina             P    21
2   dewi             P    25
3  cecep             L    23