In [1]:
import pandas as pd
import numpy as np

# Persiapan Data Frame

In [2]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1,10, size=(n_rows, n_cols)),
                 columns=cols)
df

   A  B  C  D  E
0  5  2  9  8  6
1  2  1  8  8  9
2  6  6  9  6  5
3  5  6  8  8  8
4  2  4  1  4  9
5  2  1  6  1  2
6  1  5  5  7  6
7  8  8  7  8  9
8  7  8  7  8  9
9  5  8  3  9  3

# Menghitung Jumlah baris menurut kriteria tertentu

In [3]:
(df['A'] > 5).sum()

3

In [4]:
(df['A'] > 5).mean()

0.3